In [44]:
#Importing Modules
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import mlxtend as ml
#print(ml.__version__)

In [46]:
dataset = []

import random

items = ['Elma','Mısır','Zeytin','Yumurta',
         'Dondurma','Çikolata','Süt','Nugget',
         'Soğan','Çilek','Yoğurt', 'Ekmek', 
         'Peynir', 'Tereyağ', 'Şeker','Armut']

for i in range(1, 1000):
    k = random.randrange(1, len(items)+1)
    #print('K Values:', k)
    dataset.append(random.choices(items, k=k))
    #print(random.sample(items, k=k))
    
    #liste.append(random.sample(items, k=k))
    #print(random.sample(items, k=k))

    #random.sample
    #dataset.append(random.sample(items, k=k))
    #print(random.sample(items, k=k))

In [33]:
print(len(dataset))

999

In [47]:
print(dataset[1:5])

[['Süt', 'Çilek', 'Armut', 'Dondurma', 'Soğan', 'Peynir', 'Dondurma'], ['Süt', 'Nugget', 'Şeker', 'Yoğurt', 'Süt', 'Çikolata', 'Yumurta'], ['Şeker', 'Çilek', 'Süt', 'Süt', 'Tereyağ'], ['Yumurta', 'Peynir', 'Elma', 'Dondurma', 'Yoğurt', 'Şeker', 'Yumurta', 'Mısır', 'Ekmek', 'Çikolata', 'Armut', 'Çikolata', 'Tereyağ', 'Süt', 'Çilek', 'Ekmek']]

In [48]:
print(dataset[995:(len(dataset)+1)])

[['Ekmek', 'Dondurma', 'Armut', 'Nugget', 'Elma', 'Yoğurt', 'Şeker', 'Zeytin', 'Peynir', 'Nugget', 'Zeytin'], ['Çikolata', 'Zeytin', 'Armut', 'Mısır', 'Zeytin'], ['Soğan', 'Mısır', 'Süt', 'Çikolata'], ['Zeytin', 'Zeytin', 'Dondurma', 'Yumurta', 'Mısır', 'Çilek', 'Yumurta']]

In [51]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [52]:
df.head()

,Armut,Dondurma,Ekmek,Elma,Mısır,Nugget,Peynir,Soğan,Süt,Tereyağ,Yoğurt,Yumurta,Zeytin,Çikolata,Çilek,Şeker
0,True,True,False,True,False,False,False,False,False,False,True,False,False,False,True,False
1,True,True,False,False,False,False,True,True,True,False,False,False,False,False,True,False
2,False,False,False,False,False,True,False,False,True,False,True,True,False,True,False,True
3,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True,True
4,True,True,True,True,True,False,True,False,True,True,True,True,False,True,True,True

In [58]:
apriori(df, min_support=0.15)[1:26]

     support itemsets
1   0.407407      (1)
2   0.400400      (2)
3   0.398398      (3)
4   0.390390      (4)
5   0.378378      (5)
6   0.378378      (6)
7   0.408408      (7)
8   0.376376      (8)
9   0.431431      (9)
10  0.411411     (10)
11  0.401401     (11)
12  0.400400     (12)
13  0.381381     (13)
14  0.414414     (14)
15  0.399399     (15)
16  0.174174   (0, 1)
17  0.184184   (0, 2)
18  0.177177   (0, 3)
19  0.182182   (0, 4)
20  0.168168   (0, 5)
21  0.154154   (0, 6)
22  0.176176   (0, 7)
23  0.170170   (0, 8)
24  0.172172   (0, 9)
25  0.171171  (0, 10)

In [59]:
print("Kural Sayısı:", len(apriori(df, min_support=0.15)))

Kural Sayısı: 136

In [60]:
apriori(df, min_support=0.15, use_colnames=True)[1:26]

     support           itemsets
1   0.407407         (Dondurma)
2   0.400400            (Ekmek)
3   0.398398             (Elma)
4   0.390390            (Mısır)
5   0.378378           (Nugget)
6   0.378378           (Peynir)
7   0.408408            (Soğan)
8   0.376376              (Süt)
9   0.431431          (Tereyağ)
10  0.411411           (Yoğurt)
11  0.401401          (Yumurta)
12  0.400400           (Zeytin)
13  0.381381         (Çikolata)
14  0.414414            (Çilek)
15  0.399399            (Şeker)
16  0.174174  (Dondurma, Armut)
17  0.184184     (Ekmek, Armut)
18  0.177177      (Armut, Elma)
19  0.182182     (Mısır, Armut)
20  0.168168    (Armut, Nugget)
21  0.154154    (Armut, Peynir)
22  0.176176     (Soğan, Armut)
23  0.170170       (Armut, Süt)
24  0.172172   (Armut, Tereyağ)
25  0.171171    (Armut, Yoğurt)

In [61]:
frequent_itemsets = apriori(df, min_support=0.15, use_colnames=True)

# frequent_itemsets
# association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)

rules1 = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.30)

In [62]:
print("Oluşan Kural Sayısı:", len(rules1))

Oluşan Kural Sayısı: 240

In [63]:
rules1 = rules1.sort_values(['confidence'], ascending=False)

rules1[1:11]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
167,(Peynir),(Şeker),0.378378,0.399399,0.198198,0.523810,1.311493,0.047074,1.261261
116,(Mısır),(Tereyağ),0.390390,0.431431,0.196196,0.502564,1.164876,0.027770,1.142999
201,(Yumurta),(Tereyağ),0.401401,0.431431,0.200200,0.498753,1.156043,0.027023,1.134308
113,(Mısır),(Soğan),0.390390,0.408408,0.194194,0.497436,1.217986,0.034755,1.177147
127,(Mısır),(Çilek),0.390390,0.414414,0.194194,0.497436,1.200334,0.032411,1.165196
166,(Şeker),(Peynir),0.399399,0.378378,0.198198,0.496241,1.311493,0.047074,1.233965
37,(Nugget),(Dondurma),0.378378,0.407407,0.187187,0.494709,1.214286,0.033033,1.172775
155,(Peynir),(Tereyağ),0.378378,0.431431,0.186186,0.492063,1.140537,0.022942,1.119369
3,(Armut),(Ekmek),0.374374,0.400400,0.184184,0.491979,1.228717,0.034285,1.180264
179,(Çikolata),(Soğan),0.381381,0.408408,0.187187,0.490814,1.201772,0.031428,1.161837

In [64]:
rules1["antecedent_len"] = rules1["antecedents"].apply(lambda x: len(x))
rules1["consequents_len"] = rules1["consequents"].apply(lambda x: len(x))
rules1[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
167,(Peynir),(Şeker),0.378378,0.399399,0.198198,0.523810,1.311493,0.047074,1.261261,1,1
116,(Mısır),(Tereyağ),0.390390,0.431431,0.196196,0.502564,1.164876,0.027770,1.142999,1,1
201,(Yumurta),(Tereyağ),0.401401,0.431431,0.200200,0.498753,1.156043,0.027023,1.134308,1,1
113,(Mısır),(Soğan),0.390390,0.408408,0.194194,0.497436,1.217986,0.034755,1.177147,1,1
127,(Mısır),(Çilek),0.390390,0.414414,0.194194,0.497436,1.200334,0.032411,1.165196,1,1

In [65]:
rules2 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

rules2 = rules2.sort_values(['lift'], ascending=False)

rules2[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
165,(Peynir),(Şeker),0.378378,0.399399,0.198198,0.523810,1.311493,0.047074,1.261261
6,(Mısır),(Armut),0.390390,0.374374,0.182182,0.466667,1.246524,0.036030,1.173048
7,(Armut),(Mısır),0.374374,0.390390,0.182182,0.486631,1.246524,0.036030,1.187469
191,(Süt),(Çikolata),0.376376,0.381381,0.177177,0.470745,1.234315,0.033634,1.168847
190,(Çikolata),(Süt),0.381381,0.376376,0.177177,0.464567,1.234315,0.033634,1.164709

In [66]:
rules2["antecedent_len"] = rules2["antecedents"].apply(lambda x: len(x))

rules2["consequents_len"] = rules2["consequents"].apply(lambda x: len(x))

rules2[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
165,(Peynir),(Şeker),0.378378,0.399399,0.198198,0.523810,1.311493,0.047074,1.261261,1,1
6,(Mısır),(Armut),0.390390,0.374374,0.182182,0.466667,1.246524,0.036030,1.173048,1,1
7,(Armut),(Mısır),0.374374,0.390390,0.182182,0.486631,1.246524,0.036030,1.187469,1,1
191,(Süt),(Çikolata),0.376376,0.381381,0.177177,0.470745,1.234315,0.033634,1.168847,1,1
190,(Çikolata),(Süt),0.381381,0.376376,0.177177,0.464567,1.234315,0.033634,1.164709,1,1

In [67]:
rules1[(rules1['antecedent_len'] >= 1) &
       (rules1['confidence'] >= 0.20) &
       (rules1['lift'] > 1) ].sort_values(['confidence'], ascending=False)[1:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
167,(Peynir),(Şeker),0.378378,0.399399,0.198198,0.523810,1.311493,0.047074,1.261261,1,1
116,(Mısır),(Tereyağ),0.390390,0.431431,0.196196,0.502564,1.164876,0.027770,1.142999,1,1
201,(Yumurta),(Tereyağ),0.401401,0.431431,0.200200,0.498753,1.156043,0.027023,1.134308,1,1
113,(Mısır),(Soğan),0.390390,0.408408,0.194194,0.497436,1.217986,0.034755,1.177147,1,1
127,(Mısır),(Çilek),0.390390,0.414414,0.194194,0.497436,1.200334,0.032411,1.165196,1,1
166,(Şeker),(Peynir),0.399399,0.378378,0.198198,0.496241,1.311493,0.047074,1.233965,1,1
37,(Nugget),(Dondurma),0.378378,0.407407,0.187187,0.494709,1.214286,0.033033,1.172775,1,1
155,(Peynir),(Tereyağ),0.378378,0.431431,0.186186,0.492063,1.140537,0.022942,1.119369,1,1
3,(Armut),(Ekmek),0.374374,0.400400,0.184184,0.491979,1.228717,0.034285,1.180264,1,1

In [68]:
rules1[rules1['antecedents'] == {'Ekmek'}].sort_values(['confidence'], ascending=False)[1:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len
74,(Ekmek),(Yumurta),0.4004,0.401401,0.191191,0.4775,1.189582,0.030470,1.145643,1,1
82,(Ekmek),(Şeker),0.4004,0.399399,0.190190,0.4750,1.189286,0.030271,1.144001,1,1
67,(Ekmek),(Soğan),0.4004,0.408408,0.187187,0.4675,1.144687,0.023660,1.110970,1,1
2,(Ekmek),(Armut),0.4004,0.374374,0.184184,0.4600,1.228717,0.034285,1.158566,1,1
81,(Ekmek),(Çilek),0.4004,0.414414,0.180180,0.4500,1.085870,0.014248,1.064701,1,1
58,(Ekmek),(Elma),0.4004,0.398398,0.179179,0.4475,1.123247,0.019660,1.088872,1,1
72,(Ekmek),(Yoğurt),0.4004,0.411411,0.179179,0.4475,1.087719,0.014450,1.065319,1,1
70,(Ekmek),(Tereyağ),0.4004,0.431431,0.177177,0.4425,1.025655,0.004432,1.019854,1,1
68,(Ekmek),(Süt),0.4004,0.376376,0.177177,0.4425,1.175685,0.026476,1.118607,1,1